.inventory-header {
    padding-left: 3%;
    padding-top: 2%;
}

.sneaker-description {
    padding-left: 4%;
    padding-top: 3%;
}

.inventory-list {
    padding-left: 4%;
    padding-top: 2%;
}

.inventory-row {
    padding-bottom: 1%;
}

.sneaker-img {
    max-width: 400px;
    max-height: 220px;
}

.add-sneaker {
    text-align: center;
}

.snkr-buttons {
    float: right;
}