<!doctype html> 

<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="description" content="Sneak Peek">
        <meta name="keywords" content="Inventory Tracker">
        <meta name="author" content="Jeffrey Tian">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="stylesheet" href="../static/css/styles.css?v=1.0">

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

        <title>Sneak Peek</title>

    </head>

    <body>

        <nav class="navbar navbar-expand-md navbar-light bg-faded navbar-fixed-top">
            <div class="container-fluid d-flex">
                <a class="nav-link" href="/"><img src="../static/images/logo.png"></a>
                <form class="mx-2 my-auto d-inline w-100" action="/search" method="POST">
                    <div class="input-group">
                        <input type="text" name="search" class="form-control border" value="{{ request.form['search'] }}" placeholder="Search for sneakers by brand, model, SKU, etc.">
                        <input type="submit" value="Search"/>
                    </div>
                </form>
            </div>
        </nav>

        {% block head %} {% endblock %}

        {% block tabs %} {% endblock %}

        {% block titles %} {% endblock %}
        
        <div class="inventory-list">
            {% block content %} {% endblock %}
        </div>
    </body>

    {% block script %} {% endblock %}
</html>